
<div id="question-container"> <!-- changed id='body-container' to 'question-containter' -->
  <ul id="questions-section">
    <li id="question">
      <%= erb :"questions/_one-question", locals: {question: @question} %>
      <a href="/questions/<%= @question.id %>/answers/new" id="answer_link"><button>Answer Question</button></a>
      <a href="/questions/<%= @question.id %>/comments/new" id="comment_link"><button>Add Comment</button></a>
      <span id="question_id" hidden><%= @question.id %></span>
    </li>
    <% if @comments_answers %>
      <% @comments_answers.each do |thing| %>
        <% p "@@@@@@@@@@@" %>
        <% p thing %>
        <% p thing.methods %>
          <ul>
            <li><p>Author:</p><%= thing.author.name %></li>
            <li><p>Content: </p><%= thing.content %></li>
            <li><p>Type: </p><%= thing.class %></li>
          </ul>
      <% end %>
    <% end %>
  </ul>
</div>
