
<div id="question-container"> <!-- changed id='body-container' to 'question-containter' -->
  <ul id="questions-section" class="list-unstyled">
    <li id="question">
      <a href='/questions/<%= @question.id %>/upvote' id="voter" class="glyphicon glyphicon-thumbs-up block"></a>
      <p class="block" id="vote-count"><%= @question.votes.count %></p>
      <a href='/question/<%= @question.id %>/downvote' id="voter" class="glyphicon glyphicon-thumbs-down block"></a>
      <%= erb :"questions/_one-question", locals: {question: @question} %>
    

      <h1>Question: <%= @question.title %></h1>
      <p><%= @question.content %></p>
      <a href="/questions/<%= @question.id %>/answers/new" id="answer_link"><button>Answer Question</button></a>
      <a href="/questions/<%= @question.id %>/comments/new" id="comment_link"><button>Add Comment</button></a>
      <span id="question_id" hidden><%= @question.id %></span>
    </li>
    <% if @comments_answers %>
      <% @comments_answers.each do |thing| %>
          <ul>
            <li><p>Author:<%= thing.author.name %></p></li>
            <li><p>Content: <%= thing.content %></p></li>
            <li><p>Type: <%= thing.class %></p></li>
          </ul>
      <% end %>
    <% end %>
  </ul>
</div>
