<h1>Welcome Back, <%= @user.name %></h1>
<h2><%= @user.email %><h2>

<% if @success %>
<div class="alert alert-success">
  <strong>Success!</strong> <%= @success %>
</div>
<% end %>

<h2>Recent Questions</h2>
<div class="row">
  <% @user.questions.each do |question| %>
    <div class="col-md-9 col-md-push-3"><%= question.title %></div>
    <div class="col-md-3 col-md-pull-9"><%= question.title %></div>
  <% end %>

</div>
<a href="/questions/new"><button id="new_question_button">Submit New Question</button></a>

<h2>Recent Answers</h2>
<div class="row">
  <% @user.answers.each do |answer| %>
    <div class="col-md-9 col-md-push-3"><%= answer.title %></div>
    <div class="col-md-3 col-md-pull-9"><%= answer.title %></div>
  <% end %>
</div>


